<?php
echo $this->element('program/program_default_js');
?>
<script type="text/javascript">
/* <![CDATA[ */
$(document).ready(function(){
    $('#sales_reports').tabs({ fxSlide: true, fxFade: true, fxSpeed: 'normal' , fxAutoHeight: true});
    $(window).resize(function(){});
    $(window).scroll(function(){});
    $('.delete').live('click',function(){});
    $("#q").focus();
});
/* ]]> */
</script>
<?php
echo $this->Html->css(array(
    'jquery.autocomplete',
    'fcbkselection'
    )
);
?>
<script type="text/javascript">
/* <![CDATA[ */
if(!String.prototype.startsWith){
    String.prototype.startsWith = function (str) {
        return !this.indexOf(str);
    }
}
/* ]]> */
</script>
<style type="text/css">
.listing
{
    width:1040px !important;
}
.listing .box1 {
    float:left !important;
    padding:0 0 0 6px !important;
    width:270px !important;
}
.listing .box2 {
    float: left !important;
    text-align: left !important;
    width: 170px !important;
}

.listing .box3 {
    float: left !important;
    text-align: left !important;
    width: 190px !important;
}

.listing .box5 {
    float: left !important;
    padding: 6px 0 0 !important;
    text-align: left !important;
}

.listing .box6 {
    float: left !important;
    padding: 6px 0 0 !important;
    text-align: left !important;
    width: 210px !important;
}

.listing .box7 {
    float: left !important;
    padding: 6px 0 0 !important;
    text-align: left !important;
    width: 111px !important;
}
</style>
<?php
$this->Html->addCrumb('<strong>All Sales Reports</strong>');
?>
<div class="sales_reports index">
    <?php
    if( $this->Session->read('Auth.User.role_id')== Configure::read('administrator') ){
    	echo '<h2>All Sales Reports</h2>';
    }else{
        foreach( $divisions as $division_key => $division ){
            if( $division_key == $this->Session->read('Auth.User.role_id') ){
            	echo '<h2>Search '.$division.' Sales Reports</h2>';
            }
        }
    }
    ?> 
    <?php echo $this->element('sales_reports/search_simple_sales_reports'); ?>
    <div id="sales_reports">
        <ul>
        <?php
        if( $this->Session->read('Auth.User.role_id')== Configure::read('administrator') ){
            echo '<li><a href="#all_sales_reports"><span>Sales Reports</span></a></li>';
        }else{
            foreach( $divisions as $division_key => $division ){
                if( $division_key == $this->Session->read('Auth.User.role_id') ){
                    echo '<li><a href="#all_sales_reports"><span>Search '.$division.' Sales Reports</span></a></li>';
                }
            }
        }
        ?>
        </ul>
        <?php
        if( isset($sales_reports) && count($sales_reports)>0 ){
        ?>
        <div id="all_sales_reports">

            <table cellspacing="0" cellpadding="0" style="background-color:#FFFFFF;border:1px solid #DDDDDD;clear:both;width:100%;">
            <?php
            if(!empty($sales_reports)){
            ?>
                <tr>
                    <td align="center"  colspan="5">
                        <div class="paging">
                    <?php
                    $this->Paginator->options(array('url' => '/'));
                    $sPaginator = $this->Paginator->first('<< First').' '.
                    $this->Paginator->prev('< Previous') .' '.
                    $this->Paginator->numbers().' '.
                    $this->Paginator->next('Next >'). ' '.
                    $this->Paginator->last('Last >>');
                    echo $sPaginator."<br />";
                    echo $paginator->counter(array('format' => __('Page %page% of %pages%, showing %current% records out of %count% total', true)));
                    ?>
                        </div>
                    </td>
                </tr>
            <?php
                }
            ?>
                <tr>
                    <th style="border-right: 1px solid rgb(223, 223, 223);width:250px;">Program</th>
                    <th style="border-right: 1px solid rgb(223, 223, 223);width:150px;">Reference Code</th>
                    <th style="border-right: 1px solid rgb(223, 223, 223);">Month Year </th>
                    <th style="border-right: 1px solid rgb(223, 223, 223);">Date Created</th>
                    <th style="border-right: 1px solid rgb(223, 223, 223);">Who Created</th>
                </tr>
                <tr>
                    <td colspan="5">
                    <?php
                    if( isset($sales_reports) && is_array($sales_reports) ){
                        $i = 0;
                        foreach( $sales_reports as $sales_reports_key => $sales_reports_info ){

                            $this->SalesReports->setSalesReportsData($sales_reports_info);
                            $salesReportsDirectory = $this->SalesReports->getSalesReportsDirectory();
                            $salesReportsDetailsInfo = $this->SalesReportsDetails->loadSalesReportsDetailsById(intval($sales_reports_info['SalesReports']['id']));
                            $this->SalesReportsDetails->setSalesReportsDetailsData($salesReportsDetailsInfo);
                            $file = $salesReportsDirectory . $salesReportsDetailsInfo['SalesReports']['source_file'];
                            $sCss = ( ($i % 2) ==0 )? 'listing_accomm':'listing_tr';

                            if( file_exists($file) ){
                    ?>
                        <div class="listing" id="<?php echo $sCss;?>">
                            <div class="box1" id="all_programs_<?php echo $salesReportsDetailsInfo['SalesReports']['id'];?>">
                                <div><a target="_blank" href="<?php echo $this->Html->url(array('controller'=>'sales_reports','action'=>'download',intval($salesReportsDetailsInfo['SalesReports']['id'])));?>"><?php echo $salesReportsDetailsInfo['SalesReports']['source_file'];?></a></div>
                            </div><!--end box1-->
                            <div class="box2"><?php echo $salesReportsDetailsInfo['SalesReports']['reference_code'];?></div>
                            <div class="box3"><?php echo $salesReportsDetailsInfo['SalesReports']['report_date'];?></div>
                            <div class="box6">
                                <?php echo date("D j",strtotime(trim($salesReportsDetailsInfo['SalesReports']['date_created']))).'<sup>'.date("S",strtotime(trim($salesReportsDetailsInfo['SalesReports']['date_created']))).'</sup>&nbsp;'.date("F Y h:i:s A",strtotime(trim($salesReportsDetailsInfo['SalesReports']['date_created'])));?>
                            </div>
                            <div class="box7"><?php echo isset($users[$salesReportsDetailsInfo['SalesReports']['who_created']]) ? $users[$salesReportsDetailsInfo['SalesReports']['who_created']]:null;?></div>
                            <div class="box4"></div>
                            <div class="clearboth"></div>
                        </div><!--end listing-->
                    <?php

                                $i++;
                            }
                        }//end of foreach
                    }//end of programs attendance sheet
                    ?>
                    </td>
                </tr>
                <?php
                if(!empty($sales_reports)){
                ?>
                    <tr><td align="center" colspan="5">
                        <div class="paging">
                        <?php
                        $this->Paginator->options(array('url' => '/'));
                        $sPaginator = $this->Paginator->first('<< First').' '.
                        $this->Paginator->prev('< Previous') .' '.
                        $this->Paginator->numbers().' '.
                        $this->Paginator->next('Next >'). ' '.
                        $this->Paginator->last('Last >>');
                        echo $sPaginator."<br />";
                        echo $paginator->counter(array('format' => __('Page %page% of %pages%, showing %current% records out of %count% total', true)));
                        ?>
                        </div>
                    </td></tr>
                <?php
                }
                ?>
            </table>

        </div><!-- end of search -->
        <?php
        }//end of isset and count
        ?>
    </div>
</div>
