/**
 * Basic
 */
* { margin: 0;}
html, body { font: 13px "Lucida Grande", Arial, sans-serif; background-color: #eee; line-height:1.5; height: 100%; }

a { color: #000000; }
a:hover { color: #D54E21; }

h2 { font-family: "Lucida Grande", Arial, sans-serif; color: #000; font-size: 20px; font-weight: normal; border-bottom: 1px dotted #ccc; margin: 0px 0px 10px 0px;  }
h3 { font-family: "Lucida Grande", Arial, sans-serif; color: #000; font-size: 12px; font-weight: bold; }

.error,
.notice,
.success,
.message { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice,
.message { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a { color: #D12F19; }
.notice a,
.message a { color: #817134; }
.success a { color: #529214; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -50px; }


/**
 * Content
 */
#main { margin-top: 20px; }
#main #content { width:1100px;margin-bottom: 20px; background: #fefefe; padding: 15px 20px 15px 20px; -moz-border-radius: 4px; -webkit-border-radius: 4px; -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px; -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px; }


/**
 * Pagination
 */
div.paging,
div.counter { text-align: center; margin: 10px; }
div.counter { margin-top: 10px; }


/**
 * Tables
 */
table { width: 100%; border: 1px solid #fff; background-color: #fff; clear: both; border: 1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
table tr th { padding: 10px; background: #e5e5e5; color: #333; border-bottom: 0px; text-align: left; font-weight: bold; }
table tr th a { color: #333; text-decoration: none; }
table tr th a:hover { color: #333; text-decoration: underline; }
table tr td { padding: 10px; border-bottom: 1px solid #dfdfdf; vertical-align: middle; }
table tr td a { font-weight: normal; text-decoration: none; padding: 0px 5px 0px 0px; }
table tr td a:hover { text-decoration: underline; }
table tr td div.operations a { font-size: 12px; margin-right: 15px; text-decoration: none; text-transform: lowercase; }
table tr td img { margin: 0px; padding: 0px; }
.striped { background-color: #f8f8f8; }

div.level-0 { }
div.level-1 { margin-left: 30px; }

img.permission-toggle:hover { cursor: pointer; }
img.hook-toggle:hover { cursor: pointer; }

.controller-row { background: #6f6f6f; color: #fff; font-weight: bold; }
.controller-row a { color: #efefef; }
.controller:hover { cursor: pointer; }
.collapse { background: url('../img/icons/bullet_arrow_down.png') no-repeat; padding-left: 15px; }
.expand { background: url('../img/icons/bullet_arrow_right.png') no-repeat; padding-left: 15px; }


/**
 * Forms
 */
label { margin: 0px 0px 0px 3px; font-family: "Lucida Grande", Arial, sans-serif; font-size: 13px; color: #464646; }
.text label,
.textarea label,
.select label,
.file label,
.datetime label,
.password label { display: block; }

form input[type=text],
form input[type=password],
form input[type=file],
form textarea { padding: 5px; font-size: 13px; margin-bottom: 10px; width: 98%; }
form textarea { border: 1px solid #888; }
form input[type=submit],
form button { font-size: 13px; }
form textarea { background: #fff; width: 98%; height: 60px; font-size: 13px; }
form textarea.content { height: 350px; }
form .wide { width: 500px; height: 150px; }
form select[multiple=multiple] { padding: 0px; }
form select[multiple=multiple] optgroup { font-style: normal; }
form select[multiple=multiple] optgroup option { text-indent: 25px; }

div.radio legend { font-size: 13px; margin-bottom: 10px; }
div.radio input { float: left; clear: both; margin-top: 5px; margin-right: 5px; }
div.radio label { font-size: 13px; float: left;  }

div.input { margin-top: 15px; }
div.input span.description { font-size: 11px; color: #999; }


/**
 * Header
 */
#header { width: 100%; font-size: 11px; background-color: #3c3c3c; padding: 3px 0px 3px 0px; color: #ccc; border-bottom: 1px solid #707070; }
#header a { color: #ccc; text-decoration: none; }
#header a:hover { text-decoration: underline; }
#header span { color: #666; }
#header .header-right { text-align: right; }


/**
 * Navigation
 */
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu { line-height: 1.0; }
.sf-menu ul { position: absolute; top: -999em; width: 10em; }
.sf-menu ul li { width: 100%; }
.sf-menu li:hover { visibility: inherit; }
.sf-menu li { float: left; position: relative; }
.sf-menu a { display: block; position: relative; }
.sf-menu li:hover ul,
.sf-menu li.sfHover ul { left: 0; top: 2.5em; z-index: 99; }
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul { top: -999em; }
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul { left: 10em; top: 0; }
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul { top: -999em; }
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul { left: 10em; top: 0; }

.sf-menu { float: left; margin-bottom: 1em; }
.sf-menu a { padding: .75em 1em; text-decoration:none; }
.sf-menu a, .sf-menu a:visited  { color: #13a; }
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { outline: 0; }

.sf-menu a.sf-with-ul { padding-right: 	2.25em; min-width: 1px; }
.sf-sub-indicator { position: absolute; display: block; right: .75em; top: 1.05em; width: 10px; height: 10px; text-indent: -999em; overflow: hidden; background: url('../img/arrows-ffffff.png') no-repeat -10px -100px; }
a > .sf-sub-indicator { top: .8em; background-position: 0 -100px; }
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator { background-position: -10px -100px; }

.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator { background-position: -10px 0; }

.sf-shadow ul { background: url('../img/shadow.png') no-repeat bottom right; padding: 0 8px 9px 0; -moz-border-radius-bottomleft: 17px; -moz-border-radius-topright: 17px; -webkit-border-top-right-radius: 17px; -webkit-border-bottom-left-radius: 17px; }
.sf-shadow ul.sf-shadow-off { background: transparent; }

#nav-container { background: #fff; width: 100%; height: 40px; background: #1a1a1a; }

#nav { margin-bottom: 0px; margin-top: 0px; padding-top: 5px; }
#nav ul li,
#nav ul li a { float: left; display: block; font-size: 12px; }
#nav ul li a { color: #fff; text-decoration: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#nav ul li a:hover,
#nav ul li.sfHover > a { background: #2b2b2b; }
#nav ul li a.selected { border-bottom: 1px solid #fff; }
#nav ul li a.selected:hover { background: #f7f7f7; border-bottom: 1px solid #ccc; }
#nav ul li a { margin-right: 20px; }
#nav ul li a.last { margin-right: 0px; }
#nav ul li li a { margin-right: 0px; }

#nav ul li ul { padding-top: 5px; }
#nav ul li ul li ul { padding-top: 0px; }
#nav ul li ul li { background: #2b2b2b; }
#nav ul li ul li a { -moz-border-radius: 0px; -webkit-border-radius: 0px; }
#nav ul li ul li a:hover,
#nav ul li ul li.sfHover > a { background: #000; }
#nav ul li ul li a.separator { border-bottom: 1px solid #333; }


/**
 * Nodes
 */
div.meta { background: #eee; padding: 15px; margin-bottom: 15px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
div.meta .actions { margin: 0px; padding: 0px; display: block; }
div.meta .actions { text-align: right; }
div.meta .fields .input { padding: 0px; margin: 0px; }

div.nodes .type h3 { font-size: 14px; }
div.nodes .type p { margin: 10px 10px 10px 20px; }

div.filter { margin: 10px 0px 20px 0px; background: #efefef; padding: 0px 15px 15px 15px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
div.filter form label { font-size: 14px; }
div.filter form .input { float: left; margin-right: 10px; }
div.filter form select { width: 100px; }
div.filter form .text input { font-size: 12px; padding: 0px; }
div.filter .submit { float: left; margin-top: 35px; }


/**
 * Themes
 */
div.extensions-themes h3 { font-size: 16px; margin: 10px 0px 10px 0px; }
div.extensions-themes .current-theme .screenshot { float: left; margin: 0px 70px 0px 0px; }
div.extensions-themes .available-themes { border-top: 1px dashed #ccc; margin: 50px 0px 0px 0px; }
div.extensions-themes .available-themes ul li { float: left; margin: 0px 70px 0px 0px; display: block; }
div.extensions-themes .available-themes .actions a { margin-right: 10px; }


/**
 * Footer
 */
#footer { width: auto; text-align: center; background-color: #000; padding: 15px 0px 15px 0px; color: #fff; height: 20px; }
#footer a { color: #fff; text-decoration: none; }
#footer a:hover { text-decoration: underline; }
.push { height: 50px; }


/**
 * Tooltip
 */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../img/icons/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }


/**
 * Others
 */
div.tabs { margin-bottom: 10px; }
div.tabs p { margin: 50px 0px 0px 0px; }

div.actions { padding: 0px 0px 50px 0px; }
div.actions ul { float: left; }
div.actions ul li { margin: 0px 10px 0px 0px; padding: 0px; list-style: none; float: left; }
div.actions ul li a { padding: 10px; margin-right: 10px; text-decoration: none; font-weight: bold; float: left; -moz-border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid #ddd; }
div.actions ul li a { background: -moz-linear-gradient(center top, #fefefe, #eee) repeat scroll 0 0 transparent; }
div.actions ul li a:hover { border: 1px solid #bbb; }
div.actions ul li a:active { background: -moz-linear-gradient(center top, #eee, #fefefe) repeat scroll 0 0 transparent; }

div.bulk-actions { display: block; margin: 15px 0px 15px 0px; }
div.bulk-actions .input { display: inline; padding: 4px; }
div.bulk-actions .submit { display: inline; }

div.breadcrumb { margin: 0px 0px 20px 0px; }

div.extensions-hooks div.plugin { font-weight: bold; }

#loading { margin: 0 auto; width: 20px; text-align: center; }
#loading p { background-color: #FFF1A8; font-weight: bold; padding: 5px; margin: 0px; }

.round { -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.hidden { display: none; }


/**
 * Login
 */
p#backtosite { padding: 0px 0px 0px 20px; }

#login { margin: 0px auto; width: 320px; padding: 50px 0px 0px 0px; }
#login h2 { border-bottom: 0px; }
#login .forgot { float: right; }
#login input[type=text],
#login input[type=password] { width: 95%; }

#login form { margin: 30px 0px 0px 0px; padding: 0px 20px 20px 20px; background: #fff; border: 1px solid #e5e5e5; }
#login form { -moz-box-shadow: rgba(200,200,200,1) 0 4px 18px; -webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px; }
#login form { -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.login #footer { background: none; color: #444; }
.login #footer a { color: #444; }


/**
 * Buttons
 */
div.buttons { display: block; text-align: right; margin: 10px; }
div.buttons .submit { display: inline; margin-left: 10px; }
div.buttons .cancel { margin: 20px 20px 20px 10px; }
/**
 * jQuery UI
 */
.ui-tabs { border: 0px; }
.ui-widget,
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button { font-family: "Lucida Grande", Arial, sans-serif; }


/**
 * DebugKit
 */
#debug-kit-toolbar ul li.panel-tab { display: none; }
#debug-kit-toolbar ul li.icon { display: inline; }

/*
 * SimpleModal Contact Form
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: contact.css 254 2010-07-23 05:14:44Z emartin24 $
 */

/* Overlay */
#contact-overlay {background-color:#FFF;}
.simplemodal-overlay{
    opacity:0;
    height:100%;
    width:100%;
    position:fixed;
    left:0px;
    top:0px;
    z-index:1001;

}

.simplemodal-container{
    position: 'fixed';
    z-index:1002;
    height:501px;
    width:350px;
    left:405.5px;
    top:15%;
}
/* Container */
#contact-container {font: 16px/22px 'Trebuchet MS', Verdana, Arial; text-align:left;}
#contact-container .contact-content {background-color:#333; color:#ddd;height:250px}
#contact-container h1 {color:#d76300; font-size:20px; line-height:20px; margin:0; padding:0 0 6px 12px; text-align:left;}
#contact-container .contact-loading {background:url(../img/contact/loading.gif) no-repeat; height:55px; margin:-14px 0 0 190px; padding:0; position:absolute; width:54px; z-index:8000;}
#contact-container .contact-message {text-align:center;}
#contact-container .contact-error {background:#080808; border:2px solid #ccc; font-size:14px; font-weight:bold; line-height:18px; margin:0 auto; padding:2px; width:92%;}
#contact-container br {clear:both;}
#contact-container form {margin:0; padding:0;}
#contact-container label {clear:left; display:block; float:left; font-weight:bold; padding-right:4px; text-align:right; width:100px;}
#contact-container .contact-input {background:#eee; border:1px solid #fff; font-family:'Trebuchet MS', Verdana, Arial; float:left; padding:2px; margin:2px; width:300px;}
#contact-container textarea {height:114px;}
#contact-container .contact-cc {cursor:default; font-size:14px; vertical-align:top;}
#contact-container .contact-top {background-color:#333; height:13px; margin:0; padding:0; -webkit-border-top-left-radius:8px; -webkit-border-top-right-radius:8px; -moz-border-radius-topleft:8px; -moz-border-radius-topright:8px; border-radius:8px 8px 0 0;}
#contact-container .contact-bottom {background-color:#333; font-size:12px; height:13px; line-height:12px; text-align:center; -webkit-border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; -moz-border-radius-bottomright:8px; -moz-border-radius-bottomleft:8px; border-radius:0 0 8px 8px;}
#contact-container .contact-bottom a,
#contact-container .contact-bottom a:link,
#contact-container .contact-bottom a:active,
#contact-container .contact-bottom a:visited {color:#666; position:relative; top:-4px; text-decoration:none;}
#contact-container .contact-bottom a:hover {color:#888;}
#contact-container .contact-button {background:#d76300; border:0; color:#fff; cursor:pointer; font-size:16px; font-weight:bold; height:26px; margin:4px 0 0 4px; text-align:center; vertical-align:middle; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px;}
#contact-container .contact-button:hover {background:#f49000;}
#contact-container a.modal-close,
#contact-container a.modal-close:link,
#contact-container a.modal-close:active,
#contact-container a.modal-close:visited {color:#999; font-size:18px; font-weight:bold; position:absolute; text-decoration:none; right:8px; top:0px;}
#contact-container a.modal-close:hover {color:#ccc;}

.breadcrumb {
    color: #504F4F;
    padding: 5px 18px 0 0;
}

.breadcrumb a {
    color: #504F4F;
    text-decoration: underline;
}

.edit {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/img/info/bluebkg.gif") repeat-x scroll center top #45B4CD;
    border-color: #4EBDD5 #1B7CA7 #1B7CA7 #4EBDD5;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px;
    text-decoration: none;
    width: 20px;
}

.delete {
	-moz-border-bottom-colors: #E3170D;
    -moz-border-image: #E3170D;
    -moz-border-left-colors: #E3170D;
    -moz-border-right-colors: #E3170D;
    -moz-border-top-colors: #E3170D;
    background-color: #E3170D;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px;
    text-decoration: none;
    width: 20px;
}

.remove_newsletter {
	-moz-border-bottom-colors: #ff2600;
    -moz-border-image: #ff2600;
    -moz-border-left-colors: #ff2600;
    -moz-border-right-colors: #ff2600;
    -moz-border-top-colors: #ff2600;
    background-color: #ff2600;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px;
    text-decoration: none;
    width: 20px;
}


.edit_info {
	-moz-border-bottom-colors:#FFB90F;
    -moz-border-image:#FFB90F;
    -moz-border-left-colors: #FFB90F;
    -moz-border-right-colors:#FFB90F;
    -moz-border-top-colors: #FFB90F;
    background-color: #FFB90F;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px;
    text-decoration: none;
    width: 20px;
}

.edit_full_details {
	-moz-border-bottom-colors:#FF9933;
    -moz-border-image:#FF9933;
    -moz-border-left-colors:#FF9933;
    -moz-border-right-colors:#FF9933;
    -moz-border-top-colors:#FF9933;
    background-color:#FF9933;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px;
    text-decoration: none;
    width: 20px;
}


.add_info {
	-moz-border-bottom-colors:#49E20E;
    -moz-border-image:#49E20E;
    -moz-border-left-colors:#49E20E;
    -moz-border-right-colors:#49E20E;
    -moz-border-top-colors:#49E20E;
    background-color:#49E20E;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    margin-left: 5px;
    padding: 2px 4px;
    text-decoration: none;
    width: 20px;
}

li {
    list-style: none outside none;
}

.odd {
      background-color: #EEE;
}

.even{
      background-color: #CCCCFF;
}

.resengine{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.1em;
}

.resengine table td {
    width: 200px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.resengine table th {
    background: none repeat scroll 0 0 #E5ECF9;
    border: 1px solid #C5D7EF;
}
.resengine td {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.resengine table .heading {
    background-color: #FFDB4C;
    font-weight: bold;
    width: 455px;
}

.roomsavailable{
    font-size: 0.8em;
    padding: 5px 0 0 2px;
    height: 26px;
    margin: 0 0 0 7px;
    text-align: left;
    width: 700px;
 
}


.listing {
	width: 1035px;
	border-bottom: 1px solid #0171b9;
	margin: 0 0 8px 3px;
	padding: 0 0 6px 0;
	background: #FFF;
    font-size: 11px;
    text-align:left;
}

.listing .box1 {
	float: left;
	width: 350px;
	/*background-color: #ecf2f5;*/
	padding: 0 0 0 6px;
}

.listing .box1_companies {
	float: left;
	width: 250px;
	/*background-color: #ecf2f5;*/
	padding: 0 0 0 6px;
}


#listing_accomm {
	background-color: #ecf2f5;
}

#listing_tr {
    background-color: #EBEBF3;
}

.listing a:hover {
	text-decoration: underline;
	color: #000;
}

.listing .box1 div {
	margin-top: 6px;
	padding-right: 5px;
}

.listing .box1 div p {
	margin: 0;
	padding: 6px 0 0 0;
}

.listing .box1 h3 {
	color: #0171b9;
	font-size: 1.1em; 
	margin: 0;
	padding: 0;
	/*text-decoration: underline;*/
}

.listing .box1 a {
	text-decoration: underline;
	color: #0171b9;
}

.listing .box1_companies div {
	margin-top: 6px;
	padding-right: 5px;
}

.listing .box1_companies div p {
	margin: 0;
	padding: 6px 0 0 0;
}

.listing .box1_companies h3 {
	color: #0171b9;
	font-size: 1.1em; 
	margin: 0;
	padding: 0;
	/*text-decoration: underline;*/
}

.listing .box1_companies a {
	text-decoration: underline;
	color: #0171b9;
}

.listing .box2 a {
	text-decoration: underline;
	color: #0171b9;
}

.listing .box2 {
	float: left;
	text-align: left;
	width: 200px;
}

.listing .box2 h2 {
	color: #ff6c00;
	font-size: 1.1em; 
	margin: 0;
	padding: 0;
}

.listing .box2 .orange {
	font-weight: bold;
	font-size: 1.1em;
	clear: both;
	color: #ff6c00;
}


.listing .box2_companies a {
	text-decoration: underline;
	color: #0171b9;
}

.listing .box2_companies {
	float: left;
	text-align: left;
	width: 110px;
}

.listing .box2_companies h2 {
	color: #ff6c00;
	font-size: 1.1em; 
	margin: 0;
	padding: 0;
}

.listing .box2_companies .orange {
	font-weight: bold;
	font-size: 1.1em;
	clear: both;
	color: #ff6c00;
}


.listing .box2_companies_participants a {
	text-decoration: underline;
	color: #0171b9;
}

.listing .box2_companies_participants {
	float: left;
	text-align: left;
	width: 300px;
}

.listing .box2_companies_participants h2 {
	color: #ff6c00;
	font-size: 1.1em; 
	margin: 0;
	padding: 0;
}

.listing .box2_companies_participants .orange {
	font-weight: bold;
	font-size: 1.1em;
	clear: both;
	color: #ff6c00;
}





.listing .box3 {
	text-align: left;
	float: left;
	width: 100px;
}

.listing .box3 a {
	text-decoration: underline;
	color: #0171b9;
}


.listing .box3 .orange {
	font-weight: bold;
	font-size: 1.1em;
	clear: both;
	color: #ff6c00;
}

.listing .box3 .small {
	font-weight: bold;
	font-size: 0.95em;
	clear: both;
	color: #000;
}

.listing .box3 .tiny {
	font-weight: normal;
	font-size: 0.8em;
	clear: both;
	color: #000;
}


.listing .box3_companies {
	text-align: left;
	float: left;
	width: 170px;
}

.listing .box3_companies a {
	text-decoration: underline;
	color: #0171b9;
}


.listing .box3_companies .orange {
	font-weight: bold;
	font-size: 1.1em;
	clear: both;
	color: #ff6c00;
}

.listing .box3_companies .small {
	font-weight: bold;
	font-size: 0.95em;
	clear: both;
	color: #000;
}

.listing .box3_companies .tiny {
	font-weight: normal;
	font-size: 0.8em;
	clear: both;
	color: #000;
}


.listing .box3a_companies {
	text-align: left;
	float: left;
	width: 190px;
}

.listing .box3a_companies a {
	text-decoration: underline;
	color: #0171b9;
}


.listing .box3a_companies .orange {
	font-weight: bold;
	font-size: 1.1em;
	clear: both;
	color: #ff6c00;
}

.listing .box3a_companies .small {
	font-weight: bold;
	font-size: 0.95em;
	clear: both;
	color: #000;
}

.listing .box3a_companies .tiny {
	font-weight: normal;
	font-size: 0.8em;
	clear: both;
	color: #000;
}



.listing .box3b_companies {
	text-align: left;
	float: left;
	width: 120px;
}

.listing .box3b_companies a {
	text-decoration: underline;
	color: #0171b9;
}


.listing .box3b_companies .orange {
	font-weight: bold;
	font-size: 1.1em;
	clear: both;
	color: #ff6c00;
}

.listing .box3b_companies .small {
	font-weight: bold;
	font-size: 0.95em;
	clear: both;
	color: #000;
}

.listing .box3b_companies .tiny {
	font-weight: normal;
	font-size: 0.8em;
	clear: both;
	color: #000;
}







.listing .box5 {
	float: left;
	text-align: left;
	padding: 6px 0 0 0;
    width:150px;
}

.listing .box5 a {
	text-decoration: underline;
	color: #0171b9;
}


.listing .box5 .orange {
	font-weight: bold;
	font-size: 1.1em;
	color: #ff6c00;
}


.listing .box6 {
    float: left;
    text-align: left;
    width: 144px;
    padding: 6px 0 0 0;
}

.listing .box6 a {
	text-decoration: underline;
	color: #0171b9;
}


.current{
	font-weight: bold;
    display: inline-block;
}

.listing .box6 .orange {
	font-weight: bold;
	font-size: 1.1em;
	color: #ff6c00;
}

.map_canvas{ 
     height: 200px;
     width: 600px
}

.listing .box4 {
	clear: both;
	width: 950px;
	height: 24px;
	margin: 0;
	padding: 10px 0 0 10px;
}

.listing .box4 img {
	float: left;
	margin: 0 5px 0 0;
}


.listing .box4 .price {
	float: right;
	font-weight: bold;
	color: #959595;
	font-size: 1.1em;
	padding-top: 4px;
}



.listing .box4b {
	clear: both;
	width: 950px;
	height: 24px;
	margin: 0;
	padding: 10px 0 0 10px;
}

.listing .box4b a {
	text-decoration: underline;
	color: #0171b9;
}


.listing .box4b img {
	float: left;
	margin: 0 5px 0 0;
}

.listing .box4b .price {
	float: right;
	font-weight: bold;
	color: #959595;
	font-size: 1.1em;
	padding-top: 4px;
}


.listing .box4c {
	clear: both;
	width: 950px;
	height: 30px;
	margin: 0;
	padding: 10px 0 0 10px;
}

.listing .box4c a {
	text-decoration: underline;
	color: #0171b9;
}


.listing .box4c img {
	float: left;
	margin: 0 5px 0 0;
}

.listing .box4c .price {
	float: right;
	font-weight: bold;
	color: #959595;
	font-size: 1.1em;
	padding-top: 4px;
}





.listing .box4a {
	clear: both;
	width: 950px;
	height: 30px;
	margin: 0;
	padding: 10px 0 0 10px;
}


ul{border:0; margin:0; padding:0;}

#pagination-digg li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	margin-right:2px;
}
#pagination-digg a{
	border:solid 1px #9aafe5;
	margin-right:2px;
}

#pagination-digg .previous-off,
#pagination-digg .next-off {
	border:solid 1px #DEDEDE;
	color:#888888;
	display:block;
	float:left;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
#pagination-digg .next a,
#pagination-digg .previous a {
	font-weight:bold;
}
#pagination-digg .active{
	background:#2e6ab1;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
}
#pagination-digg a:link,
#pagination-digg a:visited {
	color:#0e509e;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}

.tablePrograms tr th {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    width: 100%;
}

.tablePrograms tr th {
    background: none repeat scroll 0 0 #E5E5E5;
    border-bottom: 0 none;
    color: #333333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.highlight { 
	background-color: yellow;
	font-size: 1.1em;
}

.ui-autocomplete li.ui-menu-item {
      padding: 1px; 
}

.ui-autocomplete a.ui-menu-item-alternate {
      background-color: White; 
}

.ui-autocomplete a.ui-state-hover {
      font-weight: normal !important; 
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
}
.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}

.btn_add_info {
    -moz-border-bottom-colors: #49E20E;
    -moz-border-left-colors: #49E20E;
    -moz-border-right-colors: #49E20E;
    -moz-border-top-colors: #49E20E;
    background-color: #49E20E;
    border-style: solid;
    border-width: 3px;
    font-weight: bold;
    text-decoration: none;
}
