<div class="users form">
    <?php echo $this->Form->create('User', array('url' => array('controller' => 'users', 'action' => 'login')));?>
        <fieldset>
        <?php
            echo $this->Form->input('username');
            echo $this->Form->input('password');
        ?>
        </fieldset>
    <?php
        echo $this->Form->end(__('Log In', true),array('class'=>'ui-button ui-state-default ui-corner-all'));
    ?>
</div>
